<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a0307aceaf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles-login.css">

</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <a href="/"><img src="images/logo-mercado-liebre.svg" class="logo" alt=""></a>
            <form action="/buscar" method="get">
                <input type="text" placeholder="Buscar..." class="barra-busquedas">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
              </form>
            <h2 class="copy-header">
                <i id="nav-mano" class="fa-solid fa-hand-holding-dollar"></i>
                Compra en cuotas y sin tarjeta de credito
            </h2>
        </div>
        <a href="#" class="hamburger-button">
            <i class="fa-solid fa-bars"></i>
        </a>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tienda Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register">Crear tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
                <li><a href="/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras  <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="login" method="get" class="login">
            <div class="estilo-login">
                <input type="text" id="usuario" name="usuario" placeholder="Nombre de usuari@" class="estilo-login-input" required> 
                </div>

                <div class="estilo-login">
                    <input type="password" id="password-confirm" name="password-confirm" placeholder="Contraseña"class="estilo-login-input" required>
                  </div>

            <div class="estilo-login">
                    <button type="submit" value="Enviar" class="boton">Enviar</button>
                  </div>
        </form>

    </main>

    <footer >
        <section class="footer-section">
            <div class="footer-titulos"><i class="fa-solid fa-credit-card"></i><br>Pagá con tarjeta o en efectivo</div>
                <div>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</div>
        </section>
        <section class="footer-section">
            <div class="footer-titulos"><i class="fa-solid fa-gift"></i><br>Envío gratis desde $ 2.500</div>
                <div>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</div>
        </section>
        <section class="footer-section">
            <div class="footer-titulos"><i class="fa-solid fa-user-shield"></i><br>Seguridad, de principio a fin</div>
                <div>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</div>
        </section>
    </footer>
</body>
</html>